@using Chat.Application.Identity
@model IEnumerable<Chat.Application.Identity.ApplicationUser>

<div>
    @foreach (ApplicationUser item in Model)
        {
            <p><a asp-controller="Chat" asp-action="Private" asp-route-with="@item.UserName" title="Отправить личное сообщение">@item.UserName</a></p>
        }
</div>

