@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">WebChatAspNetCoreMVCExample</h1>

<div class="text">
    <p>Пример приложения созданного с помощью ASP.NET Core MVC</p>
    <p>Общий чат <a asp-action="Index" asp-controller="Chat">здесь</a>.</p>
</div>
