@model Chat.Infrastructure.ModelsDto.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка</h1>
<p class="text-danger">Произошла ошибка при выполнении запроса.</p>
<p class="text-danger">@Model.ErrorMessage</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p><input class="btn btn-outline-secondary" action="action" type="button" value="Вернуться назад" onclick="window.history.go(-1); return false;" /></p>


